.root{
	-fx-background-color: white;
	-fx-font-family: Arial;
	-fx-border-width: 0px;
}

.white{-fx-background-color: white !important; -fx-text-fill: black !important;}
.black{-fx-background-color: black !important; -fx-text-fill: white !important;}
.black-text > * {-fx-text-fill: black !important;}
.white-text > * {-fx-text-fill: white !important;}

.dark-grey{-fx-background-color: #d9d9d9 !important; -fx-text-fill: black !important;}
.grey{-fx-background-color: #e6e6e6 !important; -fx-text-fill: black !important;}

.darkmode .dark-grey{-fx-background-color: #262626 !important; -fx-text-fill: white !important;}
.darkmode .grey{-fx-background-color: #1a1a1a !important; -fx-text-fill: white !important;}

.dark-grey-darkmode{-fx-background-color: #262626 !important; -fx-text-fill: white !important;}
.grey-darkmode{-fx-background-color: #1a1a1a !important; -fx-text-fill: white !important;}

.dark-liblue{-fx-background-color: #005ab3 !important; -fx-text-fill: white !important;}
.liblue{-fx-background-color: #0080ff !important; -fx-text-fill: white !important;}

.top-radius{
	-fx-background-radius: 5px 5px 0px 0px !important;
}

.bottom-radius{
	-fx-background-radius: 0px 0px 5px 5px !important;
}

.navigation{
	-fx-background-color: #e6e6e6;
}

.navigation .title{
	-fx-font-size: 30px;
}

.navigation Button{
	-fx-background-color: transparent;
	-fx-alignment: center-left;
	-fx-font-size: 17px;
	-fx-background-radius: 5px;
}

.navigation Button:hover{
	-fx-background-color: #00000033;
}

.navigation .active{
	-fx-background-color: #00000033;
}

.scroll-bar:horizontal , .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button , .decrement-button {
    -fx-background-color:transparent;
}

.scroll-bar:horizontal .track , .scroll-bar:vertical .track{
     -fx-background-color: transparent;
     -fx-max-width: 2px;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
 	-fx-background-color: #cccccc;
 
}

.scroll-bar:horizontal:hover .track ,
.scroll-bar:horizontal:pressed .track ,
.scroll-bar:horizontal:focused .track ,
.scroll-bar:vertical:hover .track ,
.scroll-bar:vertical:pressed .track ,
.scroll-bar:vertical:focused .track{
     -fx-background-color: transparent;
 
}

.card, .card-top{
	-fx-background-color: transparent;
	-fx-background-radius: 5px;
	-fx-font-size: 16px;
}

.card-top{
	-fx-background-color: #e6e6e6;
}

.card .card-top:hover{
	-fx-background-color: #d9d9d9;
}

.card .title{
	-fx-font-size: 22px;
}

.card ToolBar{
	-fx-background-color: #d9d9d9;
	-fx-background-radius: 0px 0px 5px 5px;
}

.card ToolBar Button{
	-fx-background-color: #d9d9d9;
}